html, body{
  background-color: #FAFBFB;
  color: #1A2417;
  margin: 0;
  padding: 0;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.topnav {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background-color: #ABC8A2;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

/* Logo Image Styling */
.logo-image {
  height: 50px;       
  width: auto;        
}

/* Right-side navigation links */
.topnav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #1A2417;
  font-size: 16px;
  transition: color 0.3s, background-color 0.3s;
}

.topnav-right a:hover {
  background-color: #A7556A;
  color: #FAFBFB;
  padding: 8px 12px;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav-right {
    margin-top: 10px;
  }

  .topnav-right a {
    margin-left: 0;
    margin-right: 10px;
  }
}


*{
  box-sizing: border-box;
}


.background-img{
  background-image: url("https://cdn.pixabay.com/photo/2019/12/26/09/13/glasses-4720011_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  width: 100%;
  height: 100vh;
  /* margin-bottom: 100px; */
}

.main-content{
  text-align: center;
  margin-bottom: 100px;
  background-color: #1A2417;
  color: #ABC8A2;
  padding-bottom: 30%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
.content-h, .content-p{
  font-size: 30px;
  text-align: left;
}
/* .outside-container::after{
  content: """";
  clear: both;
  display: table;
} */
.outside-container{
  display: flex;
  width: fit-content;
  margin: auto;
  float: left;
  margin-bottom: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  float: center;
  /* width: 16.66%; */
  padding: 5px;
  text-align: center;
  margin: 10px;
  background-color: #fafbfb;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.inner-container {
  padding: 2px 16px;
}

/*Footer*/
/* Layout for footer */
.footer-row {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 0 30%;
  padding: 10px;
  box-sizing: border-box;
}

.footer-col h4 {
  margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Push footer to bottom */
}

.footer {
  background-color: #1A2417;
  color: #FAFBFB;
}
.footer-col h4 {
  color: #ABC8A2;
}