/*top navigation bar*/
.topnav {
  background-color: white;
  overflow: hidden;
}


.right-topnav {
  float: right;
  background-color: #04AA6D;
  color: white;
}

.tablink {
  background-color: #2A9D8F;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: darkgreen;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Event{background-color: green;}
#Profile{background-color: green;}

/*Events Tab*/


/*Register for Event*/


/*Payment*/


/*Profile Tab*/

